<% content_for(:title, 'Dashboard') %>

<div class="row">
	<div class="small-12 columns">
		<h1><%= current_user.username %>'s Juices <small>(<%= current_user.favorites.count %>)</small></h1>
	</div>
</div>
<div class="row">
	<div class="small-12 medium-4 medium-push-8 columns sidebar account">
		<div class="row panel">
			<%= image_tag(avatar_url(current_user, 50), :alt => current_user.email, :class => 'avatar') %>
			<h2>My Account</h2>
			<div class="row">
				<div class="small-12 columns">
					<strong>Username:</strong> <%= current_user.username %>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<strong>Email:</strong> <%= current_user.email %>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<strong><%= link_to "Edit Account Settings", edit_user_registration_path %></strong>
				</div>
			</div>
		</div>
	</div>
	<div class="small-12 medium-8 medium-pull-4 columns juicefeed">
		<% @juices.each do |juice| %>
			<div class="row">
				<div class="small-12 columns panel">
					<div class="row">
						<h4><%= link_to juice.name, juice_path(juice) %></h4>
						<h6><%= juice.manufacturer %></h6>
						<p><%= juice.description %></p>
						<p>Rating: <%= rating_for_user juice, current_user, "name" %></p>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
