<% content_for(:title, 'Welcome!') %>

<div class="row">
	<div class="small-8 small-centered columns greeting text-center">
		<h1>Welcome to JuiceVault</h1>
		<h2>JuiceVault is a place to keep track of your juices that you've tried, rate the flavors, remember your favorites, and find reviews of juices by other users.</h2>
	</div>
</div>
<div class="row">
	<div class="small-12 medium-4 medium-push-8 columns sidebar">
		<div class="row panel search">
			<%= form_tag root_path, :method => 'GET' do %>
				<div class="row collapse">
					<div class="small-8 columns">
						<%= text_field_tag :search, params[:search], placeholder: "Search for a name, brand or category" %>
					</div>
					<div class="small-4 columns">
						<%= submit_tag "Search", :name => nil, class: "button primary postfix" %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="row panel register">
			<% if user_signed_in? %>
				<h3>Welcome <%= current_user.username %>!</h3>
				<p><%= link_to 'Looking for a new juice?', juices_path %></p>
			<% else %>
				<div class="hide-for-small-only">
					<h3>Why Register?</h3>
					<ul>
						<li>Track the juices you've tried</li>
						<li>Rate the juices you've enjoyed and hated</li>
						<li>See what juices your friends are using</li>
					</ul>
				</div>
				<%= link_to "Sign Up For JuiceVault!", new_user_registration_path, class: 'button primary expand' %>
			<% end %>
		</div>
		<div class="row panel hide-for-small-only">
			<h3>New Users</h3>
			<ul>
				<% @recent_users.each do |user| %>
					<li><%= user.username %></li>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="small-12 medium-8 medium-pull-4 columns juicefeed">
		<% @recent_juices.each do |juice| %>
			<div class="row">
				<div class="small-12 columns panel">
					<div class="row">
						<h4><%= juice.name %></h4>
						<h6><%= juice.manufacturer %></h6>
						<span class="label">New</span>
					</div>
					<div class="row">
						<p><%= juice.description %></p>
					</div>
				</div>
			</div>
		<% end %>
		</div>
	</div>
</div>