<% content_for(:title, 'Latest Juices') %>

<div class="row">
	<div class="small-12 columns">
		<h1>Latest Juices</h1>
	</div>
</div>
<div class="row">
	<div class="small-12 medium-4 medium-push-8 columns sidebar">
		<div class="row panel search">
			<%= form_tag juices_path, :method => 'GET' do %>
				<div class="row collapse">
					<div class="small-8 columns">
						<%= text_field_tag :search, params[:search], placeholder: "Search for a name, brand or category" %>
					</div>
					<div class="small-4 columns">
						<%= submit_tag "Search", :name => nil, class: "button primary postfix" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<div class="small-12 medium-8 medium-pull-4 columns juicefeed">
		<% @juices.each do |juice| %>
			<div class="row">
				<div class="small-12 columns">
					<div class="panel">
						<div class="row">
							<h4><%= link_to juice.name, juice_path(juice) %></h4>
							<h6><%= juice.manufacturer %></h6>
						</div>
						<div class="row">
							<p><%= juice.description %></p>
							<% if user_signed_in? %>
				  				<p>
				  					<%= link_to "<i class='fa fa-heart'></i>".html_safe,   favorite_juice_path(juice, type: "favorite"), method: :put %>
				  					<%= link_to "<i class='fa fa-heart-o'></i>".html_safe, favorite_juice_path(juice, type: "unfavorite"), method: :put %>
				  				</p>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>