<% content_for(:title, @juice.name) %>

<div class="row">
	<div class="small-12 columns">
		<img src="<%= featured_image(@juice) %>" alt="<%= @juice.name %>" />
		<h1><%= @juice.name %></h1>
		<h2><%= @juice.manufacturer %></h2>
		<h3><%= @juice.category %></h3>
		<h4><%= @juice.description %></h4>
		<a href="<%= @juice.vendor_url %>">Buy it here</a>
	</div>
</div>

<% if @juice.comments.present? %>
<div class="row">
	<div class="small-12 columns">
		<% @juice.comments.each do |comment| %>
			<p><%= comment.body %></p>
		<% end %>
	</div>
</div>
<% end %>

<div class="row">
	<div class="small-12 columns">
		<h1>Add Review</h1>
		<%= form_for ([@juice, @comment]) do |f| %>
			<div><%= f.label :body, "New Review" %><br />
			<%= f.text_area :body %></div>
			<%= f.submit "Submit Review", class: "button small" %>
		<% end %>
	</div>
</div>