<% content_for(:title, @juice.name) %>

<div class="row">
	<div class="small-12 large-6 columns">
		<div class="row">
			<div class="small-12 columns">
				<div class="product-image" style="background-image:url(<%= featured_image(@juice) %>);"><!-- <img src="" alt="<%= @juice.name %>" /> --></div>
				<h1><%= @juice.name %></h1>
				<h2>By: <%= @juice.manufacturer %></h2>
				<p>Category: <%= @juice.category %></p>
				<p>Rating: <%= rating_for @juice, "name" %></p>
			</div>	
		</div>
		<div class="row">
			<div class="small-12 columns">
				<p><%= @juice.description %></p>
				<a href="<%= @juice.vendor_url %>" class="button">Buy it here</a>		
			</div>
		</div>
	</div>
	<div class="small-12 large-6 columns sidebar">
		<div class="row panel reviews">
			<div class="small-12 columns">
				<h3 class="h1">Reviews</h3>
				<% if @juice.comments.present? %>
					<% @juice.comments.each do |comment| %>
						<p><%= comment.body %></p>
					<% end %>
				<% else %>
					No reviews yet. Be the first to leave a review!
				<% end %>
			</div>
		</div>
		<div class="row panel">
			<div class="small-12 columns">
				<h3 class="h4">Add Review</h1>
				<%= form_for ([@juice, @comment]) do |f| %>
					<div><%= f.label :body, "New Review" %><br />
					<%= f.text_area :body %></div>
					<%= f.submit "Submit Review", class: "button" %>
				<% end %>
			</div>
		</div>	
	</div>
</div>